<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.loftblog.loftblogmoneytracker" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.NETWORK"/>
    <!-- Permissions required by the sync adapter -->
    <uses-permission
        android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:name=".MoneyTrackerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="AA_DB_NAME" android:value="MoneyTrackerDB.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="ru.loftblog.loftblogmoneytracker.models.Expenses,
            ru.loftblog.loftblogmoneytracker.models.Categories" />
        <activity
            android:name=".ui.activity.SplashActivity_"
            android:label="@string/spalsh_text" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.UserRegistration_"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/usrRegAct" >
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity_"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/loginAct" >
        </activity>
        <activity
            android:name=".ui.activity.MainActivity_"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".ui.activity.AddExpenceActivity_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity_"/>
        </activity>
        <provider
            android:authorities="@string/content_authority"
            android:name=".sync.StubContentProvider"
            android:syncable="true"
            android:exported="false"/>
        <service
            android:name=".sync.TrackerAuthenticatorService">
            <intent-filter>
                <action
                    android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync.TrackerSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>