<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.loftblog.loftblogmoneytracker" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MoneyTrackerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="AA_DB_NAME" android:value="MoneyTrackerDB.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="ru.loftblog.loftblogmoneytracker.models.Expenses,
            ru.loftblog.loftblogmoneytracker.models.Categories" />
        <activity
            android:name=".ui.activity.SplashActivity_"
            android:label="@string/spalsh_text" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.UserRegistration_"
            android:label="@string/usrRegAct" >
        </activity>
        <activity
            android:name=".ui.activity.MainActivity_"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".ui.activity.AddExpenceActivity_">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity_"/>
        </activity>
    </application>

</manifest>